# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.opensdf
*.opendb
*.sdf
*.suo
*.vcxproj.filters
*.user
*.VC.db
*.ipch
x64/
Debug/
.vs/
